---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <div class="albums">
    {% for album in site.data['2015'] %}

<div class="album">
  <div class="album-date">{{ album.date }}</div>
  <div class="album-cover-wrapper">
    {% if album.twitpic %}
    <img class="album-cover" title="{{ album.title }}" src="{{album.twitpic}}:small" />
    {% elsif album.spotify.images %}
    <img class="album-cover" title="{{ album.title }}" src="{{album.spotify.images[1].url}}" />
    {% else %}
    <img class="album-cover" title="{{ album.title }}">
    {% endif %}
  </div>
  <div class="album-details">
    <div class="album-title">{{ album.title }}</div>
    <div class="album-artist">{{ album.artist }}</div>
  </div>
  {% if album.spotify %}
    <a href="https://open.spotify.com/album/{{album.spotify.album_id}}" target="_blank">Listen on Spotify</a>
  {% endif %}
</div>

    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
